.ba {
    outline: none
}

.bt {
    border-top-style: solid;
    border-top-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.center {
    display: flex;
    justify-content: center;
}
