.ba {
    outline: none
}

.bt {
    border-top-style: solid;
    border-top-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.center {
    display: flex;
    justify-content: center;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
    --background-color: white;
    --text-color: rgba(0, 0, 0, 0.8);
    --card-background-color: rgba(255, 255, 255, 0.8);
    --border-color: #96CCFF;
    --button-color: #000000;
    --user-color: #000000; 
    --modal-background-color: rgba(255, 255, 255, 0.8);
    --add-post-icon: url(../pages/Main/images/addButton.png);
    --slide-menu-background: #F9F7F7;
    --card-shadow-color: #96CCFF;
}

body.dark {
    --background-color: black;
    --text-color: white;
    --card-background-color: rgb(50, 50, 50);
    --border-color: #FF1E56;
    --button-color: #FFAC41;
    --user-color: #9d9d9d;
    --modal-background-color: #46464692;
    --add-post-icon: url(../pages/Main/images/add-4.png);
    --slide-menu-background: rgb(50, 50, 50);
    --card-shadow-color: #FF1E56;
}

label{
    color: var(--text-color) !important;
}
.highlight{
    box-shadow: 0px 0px 15px 3px var(--card-shadow-color);
}