#add-post-modal {
    position: relative;
    z-index: 999;
}
.post-modal {
    background-color: var(--modal-background-color);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-close {
    font-size: 3rem;
    font-style: bold;
    cursor: pointer;
    height: 10%;
  }
  
  .modal-close:hover {
      color: grey;
      cursor: pointer;
  }