#load-modal {
  position: relative;
  z-index: 999;
}
.load-modal {
  background-color: var(--modal-background-color);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.loader {
  padding-top: 20%;
  height: 100%;
  justify-content: center;
  vertical-align: middle;
}
