.navLinks {
    text-decoration: none;
    color: var(--button-color);
}
.homeLink {
    display: flex;
}
.authDiv {
    display: flex;
}
.nawDiv {
    display: flex;
    justify-content: space-between;
}