#add-comment-modal {
    position: relative;
    z-index: 999;
}
.comment-modal {
    background-color: var(--modal-background-color);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 15%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modal-close {
    font-size: 3rem;
    font-style: bold;
    cursor: pointer;
    height: 10%;
  }
  
  .modal-close:hover {
      color: grey;
      cursor: pointer;
  }

  .commentDiv {
    border-bottom: solid 1px gray;
  }

  .AcommentDiv {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  